#wildfire-twitter { display: none; overflow: hidden;  margin-top: 20px; width: 50%; }
#wildfire-twitter-options {  }
#wildfire-twitter-options input, #wildfire-twitter-options select { width: 100%; }
#wildfire-twitter-options h2 { text-align: center; }
#wildfire-twitter #wildfire-twitter-accounts { width: 160px; float: left; margin: 20px; }
#wildfire-twitter-add { width: 160px; float: right; margin: 20px; }
#wildfire-twitter-add-no-accounts { padding: 12px; }
#wildfire-twitter-add-no-accounts input { width: auto; }
#wildfire-twitter-tweet { clear: both; }
#wildfire-twitter-tweet input { margin-bottom: 19px; }
