#wildfire-contacts {display: none; overflow: hidden;  margin-top: 20px;}
#wildfire-contacts-address-wrapper {float: left; width: 50%; height: 397px;}
#wildfire-contacts-address-form {margin: 12px;}
#wildfire-contacts-addresses {}
#edit-email-addresses-wrapper { margin-top: 0;}
#wildfire-contacts #edit-email-addresses {width: 100%; padding: 0;}
#wildfire-contacts-send { clear: both; float: left; }
#google-portable-contacts-request{ float: right;}
#wildfire-contacts-web-services-wrapper { float: right; width: 50%; height: 397px;}
#wildfire-contacts-web-services {margin: 12px;}
#wildfire-contacts-list-wrapper {}
#wildfire-contacts-list { font-size: .9em; height: 300px; overflow: auto; }
#wildfire-contacts-list .wildfire-contact { overflow: auto;  }
#wildfire-contacts-list div.checked { background: #7f7f7f; }
#wildfire-contacts-list .contact-check, .contact-name, .contact-email { float: left; }
#wildfire-contacts-list .contact-check { width: 22px; }
#wildfire-contacts-list .contact-name { width: 180px; }
#google-revoke-message{margin-top: 4px;}